<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_number %><br>
    <%= f.text_field :quote_number %>
  </div>
  <div class="field">
    <%= f.label :salesperson_name %><br>
    <%= f.collection_select :salesperson_id, Salesperson.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :car_vin %><br>
    <%= f.collection_select :car_id, Car.car_available, :id, :vin %>
  </div>
  <div class="field">
    <%= f.label :customer_name %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>

   </div>
  <div class="field">
    <%= f.label :date_created %><br>
    <%= f.date_select :date_created %>
  </div>
  <div class="field">
    <%= f.label :date_sold %><br>
    <%= f.date_select :date_sold, :include_blank => true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
