<p id="notice"><%= notice %></p>

<table>
  <h1>Open Quotes</h1>
  <thead>
    <tr>
      <th>Quote Number</th>
      <th>Sales Person</th>
      <th>Car</th>
      <th>Customer</th>
      <th>Price</th>
      <th>Date Created</th>
      <th>Date Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes_open.each do |quote| %>
      <tr>
        <td><%= quote.quote_number %></td>
        <td><%= quote.salesperson.name %></td>
        <td><%= quote.car.vin %></td>
        <td><%= quote.customer.name %></td>
        <td><%= number_to_currency(quote.price) %></td>
        <td><%= quote.date_created %></td>
        <td><%= quote.date_sold %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>





    <table>
      <h1>Closed Quotes</h1>
      <thead>
      <tr>
        <th>Quote Number</th>
        <th>Sales Person</th>
        <th>Car</th>
        <th>Customer</th>
        <th>Price</th>
        <th>Date Created</th>
        <th>Date Sold</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @quotes_closed.each do |quote| %>
          <tr>
            <td><%= quote.quote_number %></td>
            <td><%= quote.salesperson.name %></td>
            <td><%= quote.car.vin %></td>
            <td><%= quote.customer.name %></td>
            <td><%= number_to_currency(quote.price) %></td>
            <td><%= quote.date_created %></td>
            <td><%= quote.date_sold %></td>
            <td><%= link_to 'Show', quote %></td>
            <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
            <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
  </tbody>
</table>
    <br>
    <br>
    <%= form_tag(cars_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search for cars" %>
        <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
             of using a Rails form helper -->
        <button class="btn" type="submit"><i class="icon-search"></i></button>
      </div>
  <% end %>
<br>
<br>
<%= link_to 'New Quote', new_quote_path %>
<br>
<br>
<%= link_to 'Back', salespeople_path %>