<p id="notice"><%= notice %></p>

<p>
  <strong>Quote number:</strong>
  <%= @quote.quote_number %>
</p>

<p>
  <strong>Sales Person</strong>
  <%= @quote.salesperson.name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.vin %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@quote.price) %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @quote.date_created %>
</p>

<p>
  <strong>Date sold:</strong>
  <%= @quote.date_sold %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
