<p id="notice"><%= notice %></p>

<h1>Sales Staff</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Sales Manager</th>
      <th>Amount Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salespeople.each do |salesperson| %>
      <tr>
        <td><%= salesperson.name %></td>
        <td><%= salesperson.phone %></td>
        <td><%= salesperson.salesmanager.name %></td>
        <td><%= number_to_currency(Quote.sum_salesperson_sold(salesperson.id)) %></td>
        <td><%= link_to 'Show', salesperson %></td>
        <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
        <td><%= link_to 'Terminate', salesperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<%= form_tag(cars_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Cars" %>
    <%= submit_tag "Search" %>
<% end %>
<br>
<br>
<%= link_to 'Customers', customers_path %>
<br>
<br>
<%= link_to 'New Customer', new_customer_path %>
<br>
<br>
<%= link_to 'Quotes', quotes_path %>
<br>
<br>
<%= link_to 'New Quote', new_quote_path %>