<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salesperson.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @salesperson.phone %>
</p>

<p>
  <strong>Salesmanager:</strong>
  <%= @salesperson.salesmanager.name %>
</p>

<%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
<%= link_to 'Back', salespeople_path %>
