<p id="notice"><%= notice %></p>

<h1>Sales Managers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% @salesmanagers.each do |salesmanager| %>
      <tr>
        <td><%= salesmanager.name %></td>
        <td><%= salesmanager.phone %></td>
        <td><%= link_to 'Show', salesmanager %></td>
        <td><%= link_to 'Edit', edit_salesmanager_path(salesmanager) %></td>
        <td><%= link_to 'Terminate', salesmanager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesperson', new_salesperson_path %>
