<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salesmanager.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @salesmanager.phone %>
</p>

<%= link_to 'Edit', edit_salesmanager_path(@salesmanager) %> |
<%= link_to 'Back', salesmanagers_path %>
