<p id="notice"><%= notice %></p>

<h1>Owners Page</h1>
<table>
  <thead>
  <tr>
    <th>Value of Available Inventory</th>
    <th>Value of open quotes in the pipeline</th>
    <th>Number of quotes in the pipeline</th>
    <th>Number of quotes closed</th>
    <th>Value of cars sold</th>
    <th>Net profit</th>
    <th>Sales tax paid</th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= number_to_currency(@cost_car_available) %></td>
        <td><%= number_to_currency(@quote_sum_price) %></td>
        <td><%=  Quote.where("date_sold is null").count  %></td>
        <td><%=  Quote.where("date_sold is not null").count  %></td>
        <td><%= number_to_currency(@quote_sum_price_sold)%></td>
        <td><%= number_to_currency(@net_profit) %></td>
        <td><%= number_to_currency (@sales_tax_paid) %></td>
       </tr>
   </tbody>
</table>


<br>
<br>
<br>
<%= link_to 'New Sales Manager', new_salesmanager_path %>