<p id="notice"><%= notice %></p>

<h1 class="centered">Acme Automotive Sales Main Page</h1>

  <tbody>
  <p id="welcome"> Welcome to the Acme Automotive Sales Web site.  </p>
  </tr>
  </tbody>
</table>

<div>
  <p id="home1" >The <span id="home" class="bold-blue">home</span> of the Five Five warranty.</p>
</div>

<p id="five">Five Minutes or Five feet, what ever comes first.</p>
<br>

