<%= form_for(@loan) do |f| %>

  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loan_number %><br>
    <%= f.text_field :loan_number %>
  </div>
  <div class="field">
    <%= f.label :quote_number %><br>
    <%= f.collection_select :quote_id, Quote.all, :id, :quote_number %>
  </div>
  <div class="field">
    <%= f.label :purprice %><br>
    <%= f.text_field :purprice %>
  </div>
  <div class="field">
    <%= f.label :downpayment %><br>
    <%= f.text_field :downpayment %>
  </div>
    <div class="field">
      <%= f.label :principle %><br>
      <%= f.text_field :principle %>
    </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.number_field :term %>
  </div>
  <div class="field">
    <%= f.label :tax %><br>
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<div class="field">
  <%= f.label :starting_population %><br>
  <%= f.number_field :starting_population %>
</div>
<div class="field">
  <%= f.label :growth_rate %><br>
  <%= f.text_field :growth_rate %>
</div>
<div class="field">
  <%= f.label :time_frame %><br>
  <%= f.number_field :time_frame %>
</div>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>