<table class="CSSTableGenerator" width="50%">
  <th>Period</th>
  <th>Loan</th>
  <% @loan_array.each_with_index do |p,n|  %>
    <tr>
      <td><%= n %></td>
      <td><%= p.round(2) %></td>
    </tr>
  <% end %>

</table>

