<p id="notice"><%= notice %></p>

<h1>Finance Department</h1>

<br>
<p>
  <table>
  <thead>
  <tr>
        <th>Purchase Price</th>
        <th>Term</th>
        <th>Interest Rate</th>
  </tr>
  </thead>

  <tbody>
        <tr>
          <td><%=text_field_tag @loan_amount %></td>
          <td><%= select :term, :option_for_term, [3,4,5] %></td>
          <td><%=text_field_tag @loan_rate %></td>
         </tr>
   </tbody>
  </table>

<td><%= puts @Loan_amount%></td>
<td><%= puts @Loan_term%></td>
<td><%= puts @Loan_rate%></td>

<br>
<table>
  <thead>
  <tr>
    <th>Period:</th>
    <th>Principle:</th>
    <th>Monthly Payment:</th>
    <th>Total Amount Borrowed</th>
    <th>Total Interest Paid</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%=@loan_period%></td>
    <td><%=number_to_currency(@loan_principle)%></td>
    <td><%=number_to_currency(@loan_monthly_payment)%></td>
    <td><%=number_to_currency(@loan_total_amount_borrowed)%></td>
    <td><%=number_to_currency(@loan_total_interest)%></td>


    </tr>
  </tbody>
</table>
<p>
<%=submit_tag "Calculate Loan" %>
</p>
<br>
<br>