<p id="notice"><%= notice %></p>

<p>
  <strong>Loan number:</strong>
  <%= @loan.loan_number %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @loan.quote_id %>
</p>

<p>
  <strong>Purprice:</strong>
  <%= @loan.purprice %>
</p>

<p>
  <strong>Downpayment:</strong>
  <%= @loan.downpayment %>
</p>

<p>
  <strong>Term:</strong>
  <%= @loan.term %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @loan.tax %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @loan.rate %>
</p>

<p>
  <strong>Principle:</strong>
  <%= @loan.principle %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
