/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#heading {
    padding: 48px;
    background-color: lightGray;
    font-size: large;
}

#heading a {
    text-decoration: none;
    color: black;

}

#heading a:hover {

    background-color: lightblue;
    color: white;

}

.bold-blue {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

h1.centered {
    text-align: center;
}

h1.fancy {
    color: darkgreen;
    text-decoration: underline;
}

p#welcome {
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border: 1px solid blue;
    width: 40%;
    padding: 10px;
}

p#five {
    text-align: center;
    font-size: 14pt;
    color: green;
}

p#home1 {
    text-align: center;
    font-size: 14pt;
}


.code {
    font-family: courier, monospace;
    color: darkgreen;
}

table {

    margin:0px;padding:0px;
    width:70%;
    box-shadow: 20px 20px 5px #888888;
    border:1px solid #000000;
    border-collapse:collapse;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;


}



td,th {
    border: 1px solid black;
}