<!DOCTYPE html>
<html>
<head>
  <title>Acme Automotive Sales</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>Acme Automotive Sales</h2>
<div id="heading">
  <%= link_to "Sales Department", salespeople_path %>
  <%= link_to "Sales Manager", salesmanagers_path %>
  <%= link_to "Inventory Management", cars_path %>
  <%= link_to "Finance", loans_path %>
  <%= link_to "Dealership Owner", owners_path %>
  <%= link_to "About", abouts_path %>
  <%= link_to 'Home', root_path %>
</div>



<%= yield %>




</body>

<footer>
  <br>
  <br>
  Copyright &copy 2015 GAH
</footer>
</html>


